<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모헬: 모두의 헬퍼</title>
    <meta name="description" content="메인 페이지">
    <link rel="icon" type="image/png" href="../../resources/imgs/common/logo-m.png">
    <script src="https://kit.fontawesome.com/301043e4a8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <script src="../../resources/src/scroll.js" defer></script>
</head>
<body>
    <!-- Header -->
    <header id="head">     
        <!-- Navbar -->
        <nav id="navbar">
            <div class="navbar__logo">
                <a href="#"><img class="navbar__logo__img" src="../../resources/imgs/common/logo.png"></a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__menu__item"><a href="../Profile/profile.html">마이페이지</a></li>
                <li class="navbar__menu__item"><a href="../RequestDeal/request.html">역경매등록</a></li>                    
                <li class="navbar__menu__item">로그인</li>
            </ul>
        </nav>      
        <!-- 홈화면(검색창) -->
        <div id="home">
            <div class="home__left">
                <h1 class="home__title">모두의 헬퍼</h1>            
                <div class="home__search">
                    <input type="text" class="home__search__input">
                    <button type="button" class="home__search__btn"><i class="fas fa-search"></i></button>            
                </div>
                <!-- 대분류 -->
                <div class="category">
                    <ul class="category__menu">
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/1000.jpg" class="category__img"></div>
                            <div class="category__menu-name">레슨</div>
                        </li>
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/2000.jpg" class="category__img"></div>
                            <div class="category__menu-name">홈/리빙</div>
                        </li>
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/3000.jpg" class="category__img"></div>
                            <div class="category__menu-name">비즈니스</div>
                        </li>
                    </ul>
                    <ul class="category__menu">
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/4000.jpg" class="category__img"></div>
                            <div class="category__menu-name">디자인</div>
                        </li>
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/5000.jpg" class="category__img"></div>
                            <div class="category__menu-name">IT/프로그래밍</div>
                        </li>
                        <li class="category__menu__item">
                            <div class="category__menu-icon"><img src="../../resources/imgs/main/6000.jpg" class="category__img"></div>
                            <div class="category__menu-name">건강/미용</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="home__right">
                <img src="../../resources/imgs/main/background.jpg" class="home__img">
            </div>
        </div>
    </header>
    <!-- Section -->
    <section id="service">       
        <!-- 역경매 리스트 -->
        <div class="list">
            <!-- 최신순 -->
            <div class="list__container">
                <h1 class="list__title">새로운 역경매</h1>
                <ul class="list__items">
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/1000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">외국어</h4>
                            <div class="list__item-title">유학준비를 위해서 영어회화 배우고 싶습니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/2000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">인테리어</h4>
                            <div class="list__item-title">사무실 인테리어 문의 드립니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/3000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">번역</h4>
                            <div class="list__item-title">중국어 번역 부탁드립니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/4000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">일러스트 디자인</h4>
                            <div class="list__item-title">학원 홍보책자에 드러갈 일러스트 요청드립니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/5000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">웹 개발</h4>
                            <div class="list__item-title">웹 프론트엔드 개발</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/6000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">심리상담</h4>
                            <div class="list__item-title">심리상담 문의드립니다.</div>
                        </div>
                    </li>
                </ul>

                <!-- 최신순 버튼이동 -->
                <button type="button" class="before-btn"><i class="fas fa-angle-left"></i></button>
                <button type="button" class="after-btn"><i class="fas fa-angle-right"></i></button>	        
            
            </div>          
            <!-- 인기순 -->
            <div class="list__container">
                <h1 class="list__title">인기 역경매</h1>
                <ul class="list__items">
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/6000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">헤어/메이크업</h4>
                            <div class="list__item-title">웨딩 메이크업 문의드립니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/2000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">청소업체</h4>
                            <div class="list__item-title">이사 청소</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/5000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">안드로이드 개발</h4>
                            <div class="list__item-title">백엔드 개발</div>
                        </div>
                    </li>
                </ul>
                <ul class="list__items">
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/3000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">인쇄</h4>
                            <div class="list__item-title">현수막 제작 요청드립니다.</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/4000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">라벨 디자인</h4>
                            <div class="list__item-title">의류 브랜드 라벨 디자인</div>
                        </div>
                    </li>
                    <li class="list__item">
                        <img class="list__item__img" src="../../resources/imgs/common/1000.jpg">
                        <div class="list__item__description">
                            <h4 class="list__item-mainCtg">악기</h4>
                            <div class="list__item-title">드럼 레슨</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>        
    </section>
    <!-- Footer -->
    <footer id="foot">
        <p class="foot__rights">Copyright © 2021 Mohel | All rights reserved. | BAO</p>
    </footer>
    <!-- Arrow button -->
    <button class="arrow-btn">
        <i class="fas fa-arrow-up"></i>
    </button>
</body>
</html>