<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모헬: 모두의 헬퍼 - 메시지</title>
    <meta name="description" content="메시지 디테일 페이지">
    <link rel="icon" type="image/png" href="../../resources/imgs/common/logo-m.png">
    <script src="https://kit.fontawesome.com/301043e4a8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <script src="../../resources/src/main.js" defer></script>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <div class="navbar__top">
            <div class="navbar__logo">
                <a href="#"><img class="navbar__logo__img" src="../../resources/imgs/common/logo-white.png"></a>
            </div>
            <div class="navbar__right">
                <div class="navbar__search">
                    <input type="text" name="search" id="search">
                    <button type="button" class="search__btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__menu__item">마이페이지</li>
                    <li class="navbar__menu__item">역경매등록</li>                    
                    <li class="navbar__menu__item">로그아웃</li>
                </ul>
            </div>
        </div>        
    </nav>     
    <!--Mypage Navbar -->
    <nav id="mypage">
        <ul class="mypage__menu">
            <li class="mypage__menu__item">
                <button type="button">프로필</button>
            </li>
            <li class="mypage__menu__item deal-menu">
                <button type="button">거래상태</button>
                <ul class="navbar__list deal-list">
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">진행전</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">진행중</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">완료</button></li>
                </ul>
            </li>                    
            <li class="mypage__menu__item message-menu">
                <button type="button">메시지</button>
                <ul class="navbar__list message-list">
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">받은메시지함</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">보낸메시지함</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn"><a href="sendMsg.html">메시지쓰기</a></button></li>
                </ul>
            </li> 
        </ul>
    </nav>
    <!-- Message Detail -->
    <section class="msgDetail mypage">
        <h2 class="mypage__title">메시지</h2>
        <ul class="msgDeatil__info">
            <li class="msgDetail-title">시간 조정을 하고 싶습니다.</li>
            <li class="msgDetail-sender">보낸사람<span class="sender">mohel</span></li>
            <li class="msgDetail-recipient">받는사람<span class="recipient">soo</span></li>
        </ul>
        <div class="msgDetail__contents">
            제가 일정이 생겨서 다음주 수업을 다다음주 화요일로 미뤄야할 것 같습니다. 혹시 7일 화요일 시간이 안되신다면 가능한 요일을 알려주세요! 저는 다음주는 금요일 1시~8시만 가능하고 다다음주부터는 시간이 자유롭습니다. 제가 일정이 생겨서 다음주 수업을 다다음주 화요일로 미뤄야할 것 같습니다. 혹시 7일 화요일 시간이 안되신다면 가능한 요일을 알려주세요! 저는 다음주는 금요일 1시~8시만 가능하고 다다음주부터는 시간이 자유롭습니다.
        </div>
        <div class="mypage__bottom">
            <button type="button" class="mypage__btn">답장하기</button>
        </div>
    </section>
</body>
</html>