<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모헬: 모두의 헬퍼 - 받은 메시지함</title>
    <meta name="description" content="받은 메시지함 페이지">
    <link rel="icon" type="image/png" href="../../resources/imgs/common/logo-m.png">
    <script src="https://kit.fontawesome.com/301043e4a8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <script src="../../resources/src/main.js" defer></script>
    <script src="../../resources/src/profile.js" defer></script>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <div class="navbar__top">
            <div class="navbar__logo">
                <a href="#"><img class="navbar__logo__img" src="../../resources/imgs/common/logo-white.png"></a>
            </div>
            <div class="navbar__right">
                <div class="navbar__search">
                    <input type="text" name="search" id="search">
                    <button type="button" class="search__btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__menu__item">마이페이지</li>
                    <li class="navbar__menu__item">역경매등록</li>                    
                    <li class="navbar__menu__item">로그아웃</li>
                </ul>
            </div>
        </div>        
    </nav>     
    <!--Mypage Navbar -->
    <nav id="mypage">
        <ul class="mypage__menu">
            <li class="mypage__menu__item">
                <button type="button">프로필</button>
            </li>
            <li class="mypage__menu__item deal-menu">
                <button type="button">거래상태</button>
                <ul class="navbar__list deal-list">
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">진행전</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">진행중</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">완료</button></li>
                </ul>
            </li>                    
            <li class="mypage__menu__item message-menu">
                <button type="button">메시지</button>
                <ul class="navbar__list message-list">
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">받은메시지함</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">보낸메시지함</button></li>
                    <li class="navbar__list__item"><button type="button" class="navbar__list__btn">메시지쓰기</button></li>
                </ul>
            </li> 
        </ul>
    </nav>
    <!-- Message List -->
    <section class="message mypage">
        <div class="message__container">
            <h2 class="mypage__title">받은 메시지함</h2>
            <table class="message__info"> 
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 68%;">
                    <col style="width: 15%;">
                </colgroup>               
                <thead>
                    <tr>
                        <th class="message__head"><i class="fas fa-envelope"></i></th>
                        <th class="message__head">보낸사람</th>
                        <th class="message__head">제목</th>
                        <th class="message__head">전송시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data profile-btn">soo</td>
                        <td class="message__data message__title"><a href="msgDetail.html">시간 조정을 하고 싶습니다.</a></td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">David</td>
                        <td class="message__data message__title pointer">가격 문의</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Sunny</td>
                        <td class="message__data message__title pointer">실력차이</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">June</td>
                        <td class="message__data message__title pointer">너무 감사합니다!</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Hee</td>
                        <td class="message__data message__title pointer">가능할것같습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Wooki</td>
                        <td class="message__data message__title pointer">시간 조정을 하고 싶습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Lizy</td>
                        <td class="message__data message__title pointer">기간에 대해 의논하고 싶습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Kyeong</td>
                        <td class="message__data message__title pointer">감사합니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Deam</td>
                        <td class="message__data message__title pointer">시간 조정을 하고 싶습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Coder</td>
                        <td class="message__data message__title pointer">가능할것같습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">cheer</td>
                        <td class="message__data message__title pointer">가격문의</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Jelly</td>
                        <td class="message__data message__title pointer">기간에 대해 의논하고 싶습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">Dream</td>
                        <td class="message__data message__title pointer">시간 조정을 하고 싶습니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">David</td>
                        <td class="message__data message__title pointer">2:1도 가능할까요?</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                    <tr>
                        <td class="message__data"><i class="fas fa-envelope"></i></td>
                        <td class="message__data pointer">soo</td>
                        <td class="message__data message__title pointer">프로필 보냅니다.</td>
                        <td class="message__data">2021-12-24 19:41</td>
                    </tr>
                </tbody>                      
            </table>
            <div class="message__move">
                <ul class="message__move__list">
                    <li class="message__list"><a class="message__arrow" href="#"><i class="fas fa-arrow-left"></i></a></li>
                    <li class="message__list"><a class="message__num" href="#">1</a></li>
                    <li class="message__list"><a class="message__num" href="#">2</a></li>
                    <li class="message__list"><a class="message__num" href="#">3</a></li>
                    <li class="message__list"><a class="message__num" href="#">4</a></li>
                    <li class="message__list"><a class="message__num" href="#">5</a></li>
                    <li class="message__list"><a class="message__arrow" href="#"><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- 프로필 클릭 모달 시작 -->
    <div class="modal__container" id="modal">
        <div class="modal">
            <button class="close-btn" id="close">
                <i class="fa fa-times"></i>
            </button>
            <div class="modal__header">
                <div class="modal__header__title">프로필</div>
            </div>
            <div class="modal__content">
                <div class="modal__box">
                    <div class="modal__content__title">아이디</div>
                    <div class="modal__content__value1">soo</div>
                </div>
                <div class="modal__box">
                    <div class="modal__content__title">이메일</div>
                    <div class="modal__content__value2">mohel@naver.com</div>
                </div>
                <div class="modal__box">
                    <div class="modal__content__title">사는곳</div>
                    <div class="modal__content__value3">인천</div>
                </div>
                <div class="modal__box">
                    <div class="modal__content__title">소속</div>
                    <div class="modal__content__value4">YBM 회화 강사</div>
                </div>
                <div class="modal__box">
                    <div class="modal__content__title">경력</div>
                    <div class="modal__content__value5">
                        - GQ Korea 프리랜서 번역가<br>
                        - Pagoda One 전임 회화 강사<br>
                        - 인터파크 Paedea Plus<br>
                        - 크몽 튜터 1년차
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 프로필 클릭 모달 끝 -->

</body>
</html>